<div class="form-group position-relative">
  <label [for]="textConstants.LABELS.COUNTRY + '-' + index">{{textConstants.LABELS.COUNTRY}}</label>
  <input
    type="text"
    class="form-control"
    [id]="textConstants.LABELS.COUNTRY + '-' + index"
    [value]="value"
    (input)="onInput($event)"
    (blur)="onBlur()"
    (focus)="onFocus()"
    autocomplete="off"
    [disabled]="isDisabled"
    [placeholder]="textConstants.LABELS.COUNTRY">

  <ul *ngIf="showSuggestions && filteredSuggestions.length > 0" class="list-group position-absolute w-100">
    <li *ngFor="let suggestion of filteredSuggestions"
        class="list-group-item list-group-item-action"
        (mousedown)="selectSuggestion(suggestion)">
      {{ suggestion }}
    </li>
  </ul>
</div>
